##  1

Part a

In [1]:
import pandas as pd #importing the library

In [2]:
pd.set_option('display.max_columns', 50) #setting the maximum columns to read

In [3]:
#reading the dataset first 1000 columns 
myDF = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', nrows=1000)

In [4]:
myDF.columns #printing the colmns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

Part b

In [9]:
#defining the columns we need to keep
columns_needed = ['Store Number', 'Store Name', 'Address', 'City', 'Zip Code']

In [10]:
#Reading the columns to from the dataset
df_subset = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', usecols=columns_needed)

/tmp/ipykernel_3185996/1015406267.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subset = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', usecols=columns_needed)

In [11]:
print(df_subset.shape) #printing the result

(27050143, 5)

## 2

Part a

In [13]:
pd.set_option('display.max_columns', 50)  #setting the maximum columns to read

In [14]:
#defining the columns we need to keep
columns_needed = ['Store Number', 'Store Name', 'Address', 'City', 'Zip Code']

In [15]:
#Reading the columns to from the dataset
df = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', usecols=columns_needed)

/tmp/ipykernel_3185996/3623221137.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', usecols=columns_needed)

In [16]:
#Printing the 10 most popular values of the "Store Number" and 
#the number of occurrences of each.
popular_store_numbers = df['Store Number'].value_counts().head(10)
print(popular_store_numbers)

Store Number
2633    223447
4829    190702
2190    173109
2512    147581
2572    142536
2603    140319
2515    133959
2614    132915
2647    132269
2648    128608
Name: count, dtype: int64

Part b

In [17]:
#Printing the 10 most popular values of the "Store Name" and 
#the number of occurrences of each.
popular_store_names = df['Store Name'].value_counts().head(10)
print(popular_store_names)

Store Name
HY-VEE #3 / BDI / DES MOINES            223447
CENTRAL CITY 2                          190653
CENTRAL CITY LIQUOR, INC.               173158
HY-VEE FOOD STORE / CEDAR FALLS         142536
HY-VEE WINE AND SPIRITS / IOWA CITY     141557
HY-VEE WINE AND SPIRITS / BETTENDORF    140319
HY-VEE #7 / CEDAR RAPIDS                131294
HY-VEE #4 / WDM                         128608
HY-VEE FOOD STORE #1 / MASON CITY       127264
BENZ DISTRIBUTING                       120357
Name: count, dtype: int64

Part c

In [18]:
#The 10 most popular values of these three columns pasted together: 
#Address, City, "Zip Code" and the number of occurrences of each.
full_address = df['Address'].astype(str) + ', ' + df['City'].astype(str) + ' ' + df['Zip Code'].astype(str)
popular_addresses = full_address.value_counts().head(10)
print(popular_addresses)

3221 SE 14TH ST, DES MOINES 50320          127081
1501 MICHIGAN AVE, DES MOINES 50314        103325
1460 2ND AVE, DES MOINES 50314             102354
3221 SE 14TH ST, DES MOINES 50320.0         96366
1720 WATERFRONT DR, IOWA CITY 52240         93101
1501 MICHIGAN AVE, DES MOINES 50314.0       87377
nan, nan nan                                82687
1823 E KIMBERLY RD, DAVENPORT 52807         80292
2400 4TH ST SW, MASON CITY 50401            78329
2890 DEVILS GLEN ROAD, BETTENDORF 52722     76869
Name: count, dtype: int64

Part d

Yes (a) and (b) agree almost exactly â€” one Store Number usually matches to one Store Name.
For (a) and (c) might vary slightly fromeach other. sme address matches.

## 3

In [19]:
import pandas as pd
cols = ['Zip Code', 'Category Name', 'Sale (Dollars)']

In [ ]:
# Read only the needed columns with correct data types

In [22]:
df = pd.read_csv('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv',usecols=cols,dtype={'Zip Code': 'string', 'Category Name': 'string', 'Sale (Dollars)': 'float'})

Part a 
#Group by 'Zip Code', sum the 'Sale (Dollars)', sort in descending order, and to get top 10 and priting the result in the end

In [23]:
zip_sales = df.groupby('Zip Code')['Sale (Dollars)'].sum().sort_values(ascending=False).head(10)
print(zip_sales)

Zip Code
50314    1.462822e+08
50320    1.328612e+08
52402    1.084609e+08
52240    1.068279e+08
50010    9.696416e+07
50266    9.595645e+07
52807    8.533102e+07
51501    8.448560e+07
52241    8.022436e+07
50613    7.071636e+07
Name: Sale (Dollars), dtype: float64

Part b
#Group by 'Category Name', sum the 'Sale (Dollars)', sort in descending order, and get top 10 and priting the result in the end

In [24]:
category_sales = df.groupby('Category Name')['Sale (Dollars)'].sum().sort_values(ascending=False).head(10)
print(category_sales)

Category Name
CANADIAN WHISKIES            4.576129e+08
AMERICAN VODKAS              3.803072e+08
STRAIGHT BOURBON WHISKIES    2.577949e+08
SPICED RUM                   2.543628e+08
WHISKEY LIQUEUR              1.997368e+08
IMPORTED VODKAS              1.830824e+08
TENNESSEE WHISKIES           1.626767e+08
VODKA 80 PROOF               1.457649e+08
100% AGAVE TEQUILA           1.242239e+08
BLENDED WHISKIES             1.091526e+08
Name: Sale (Dollars), dtype: float64

## 4

In [25]:
#importing important libraries
import pandas as pd
import numpy as np

In [27]:
#Reading only 10th & 15th column from the file, on 0 based indexing
myDF = pd.read_csv("/anvil/projects/tdm/data/election/itcont2020.txt", header=None,sep='|',usecols=[9, 14], encoding='Windows-1252')

/tmp/ipykernel_3185996/3725648074.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  myDF = pd.read_csv("/anvil/projects/tdm/data/election/itcont2020.txt", header=None,sep='|',usecols=[9, 14], encoding='Windows-1252')

In [28]:
#renaming the columns
myDF.columns = ["STATE", "TRANSACTION_AMT"]

In [29]:
#converting transaction amount to numeric(integer) & missing values or invalid with 0 
myDF['TRANSACTION_AMT'] = pd.to_numeric(myDF['TRANSACTION_AMT'], errors='coerce').fillna(0).astype(np.int64)

In [31]:
#Groupby state & sum with the donation amounts
state_sums = (myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values(ascending=False).head(10))

In [32]:
#printing the result with the heading
print("Top 10 States by Total Donation Amount (2020):")
print(state_sums)

Top 10 States by Total Donation Amount (2020):
STATE
CA    2795430149
NY    2516551117
VA    1121489670
DC    1059433532
TX    1003017171
FL     911295339
IL     609378995
MA     520026206
WA     399159178
NV     384308975
Name: TRANSACTION_AMT, dtype: int64

## 5

In [33]:
#reading the first 10 rows using tab seperate format
myDF = pd.read_csv('/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv',sep='\t',nrows=10)

In [34]:
#printing the genres column
print(myDF['genres'])

0           Documentary,Short
1             Animation,Short
2    Animation,Comedy,Romance
3             Animation,Short
4                Comedy,Short
5                       Short
6                 Short,Sport
7           Documentary,Short
8                     Romance
9           Documentary,Short
Name: genres, dtype: object

In [35]:
#printing the genres with split 
print(myDF['genres'].str.split(','))

0            [Documentary, Short]
1              [Animation, Short]
2    [Animation, Comedy, Romance]
3              [Animation, Short]
4                 [Comedy, Short]
5                         [Short]
6                  [Short, Sport]
7            [Documentary, Short]
8                       [Romance]
9            [Documentary, Short]
Name: genres, dtype: object

In [36]:
#exploding it into individual genres
print(myDF['genres'].str.split(',').explode())

0    Documentary
0          Short
1      Animation
1          Short
2      Animation
2         Comedy
2        Romance
3      Animation
3          Short
4         Comedy
4          Short
5          Short
6          Short
6          Sport
7    Documentary
7          Short
8        Romance
9    Documentary
9          Short
Name: genres, dtype: object

In [37]:
#counting how many times each genre occured
print(myDF['genres'].str.split(',').explode().value_counts())

genres
Short          8
Documentary    3
Animation      3
Comedy         2
Romance        2
Sport          1
Name: count, dtype: int64

In [38]:
# Read only the 'genres' column from the full file
full_df = pd.read_csv('/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv',sep='\t',usecols=['genres'])

In [39]:
# Explode and counting all genres from the whole dataset
genre_counts = full_df['genres'].str.split(',').explode().value_counts()

In [40]:
# printing the result with the heading
print("Genre Counts Across Entire Dataset:")
print(genre_counts)

Genre Counts Across Entire Dataset:
genres
Drama          3150902
Comedy         2181735
Talk-Show      1372491
Short          1191319
Documentary    1062291
News           1051396
Romance        1045327
Family          824605
Reality-TV      624849
Animation       556564
Action          462384
Crime           459412
Adventure       425076
Game-Show       424917
Music           418887
Adult           353524
Sport           271872
Fantasy         233814
Mystery         224944
Horror          201979
Thriller        184618
History         165528
Biography       119759
Sci-Fi          117541
Musical          92140
War              38662
Western          30931
Film-Noir          873
Name: count, dtype: int64